<html lang="ja">
<head>
  <link rel="stylesheet" type="text/css" id="csschange" href="prs_color1.css">
  <link rel="stylesheet" type="text/css" href="prs_change.css">
  <link rel="stylesheet" type="text/css" href="prs_web_common.css">
  <script type="text/javascript" src="js/paw_doaction.js"></script>
  <script type="text/javascript" src="js/paw_common.js"></script>
  <script type="text/javascript" src="js/paw_errormsg.js"></script>
  <script type="text/javascript" src="js/prwcb2000.js"></script>
  <script type="text/javascript" src="js/ajax/jquery.js"></script>
  <script type="text/javascript" src="js/ajax/jquery.cookie.js"></script>
  <script type="text/javascript">
    var gRsvWInstSrchVacantPageMoveAction ='/sendai/eweb/rsvWInstSrchVacantPageMoveAction.do';var gRsvWTransUserAttestationEndAction ='/sendai/eweb/rsvWTransUserAttestationEndAction.do';var gRsvWUserAttestationPageMoveAction ='/sendai/eweb/rsvWUserAttestationPageMoveAction.do';var gRsvWInstRsvSetEtimeAction ='/sendai/eweb/rsvWInstRsvSetEtimeAction.do';var gRsvWTransGuideAction ='/sendai/eweb/rsvWTransGuideAction.do';
  </script>
  <!-- pawzz1000 -->
  <meta http-equiv="Content-Type" content="text/html;charset=Shift_JIS">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="expires" content="Sun, 10 Jan 1990 01:01:01 GMT">
  <meta http-equiv="Content-Script-Type" content="text/javascript">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <meta name="format-detection" content="telephone=no">
  <title>仙台市市民利用施設予約システム&nbsp;時間貸し利用開始時間選択画面</title>
</head>
<body class="nomargin" onload="javascript:msgHide();javascript:errorMsg('', 0);startInitTimer()">
  <script type="text/javascript">
    loadMsgWrite(this.document);
  </script>
  <div id="loadmsg" style="position: absolute; top: 0px; left: 0px; right: 0px; width: 100%; visibility: hidden;">
    <center><br><br><br><br><br><br><br><br><br><br><img src="image/bi_nowloading.gif" alt="loading"></center>
  </div>
  <div id="disp" style="visibility: inherit;">
    <center>
      <form name="form1" method="post" action="dummy" autocomplete="off">
        <table width="100%" class="head" border="0">
          <tbody>
            <tr>
              <td align="left"><strong>仙台市</strong>利用者東北大学バレーボールクラブ様<a href="#main"><img src="image/1px.gif" border="0" alt="本文へスキップ"></a></td>
              <td align="right">
                <script type="text/javascript" src="js/paw_fontsize.js"></script>
                <script type="text/javascript">
                  var gSmallSize = '90%';var gMiddleSize = '100%';var gLargeSize = '110%';
                </script>
                <div style="width:177px;">
                  <ul id="fontChange" style="margin:0 0 0 0;padding:0">
                    <li id="li-label1"><img src="image/lw_fontchange1.gif" id="label1" alt="文字サイズ変更"></li>
                    <li id="small"><a href="javascript:void(0);" title="文字を小サイズに変更" style="margin:0 0 0 0;padding:0" class="afont">小</a></li>
                    <li id="middle"><a href="javascript:void(0);" title="文字を中サイズに変更" style="margin:0 0 0 0;padding:0" class="afont">中</a></li>
                    <li id="large"><a href="javascript:void(0);" title="文字を大サイズに変更" style="margin:0 0 0 0;padding:0" class="afont">大</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <td align="right" colspan="2">
                <table border="0">
                  <tbody>
                    <tr>
                      <td><a href="javascript:doAction((_dom == 3) ? document.layers['disp'].document.form1 : document.form1, gRsvWUserAttestationPageMoveAction);"><img src="image/bw_menu.gif" alt="メニューへ" border="0"></a></td>
                      <td><a href="javascript:doAction((_dom == 3) ? document.layers['disp'].document.form1 : document.form1, gRsvWInstSrchVacantPageMoveAction);"><img src="image/bw_return.gif" alt="もどる" border="0"></a></td>
                      <td><a href="javascript:doAction((_dom == 3) ? document.layers['disp'].document.form1 : document.form1, gRsvWTransUserAttestationEndAction);"><img src="image/bw_end.gif" alt="終了" border="0"></a></td>
                      <td><a href="javascript:doAction((_dom == 3) ? document.layers['disp'].document.form1 : document.form1, gRsvWTransGuideAction);"><img src="image/bw_guide.gif" alt="案内" border="0"></a></td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <p align="left" class="pcontent"><a name="main"><img src="image/1px.gif" border="0" alt="ここから本文です"></a><br>利用開始時間を設定して下さい。</p><br>
        <table border="0" class="tcontent">
          <tbody>
            <tr>
              <td>福室市民センター【調理実習室】4月26日水曜日</td>
            </tr>
          </tbody>
        </table><br>
        <table cellpadding="10" border="0" class="tcontent">
          <tbody>
            <tr>
              <td><a href="javascript:sendStime((_dom == 3) ? document.layers['disp'].document.form1 : document.form1, gRsvWInstRsvSetEtimeAction, 900, 10)"><img src="image/bw_watch.gif" border="0" alt="">09時00分</a></td>
              <td><a href="javascript:sendStime((_dom == 3) ? document.layers['disp'].document.form1 : document.form1, gRsvWInstRsvSetEtimeAction, 1000, 20)"><img src="image/bw_watch.gif" border="0" alt="">10時00分</a></td>
              <td><a href="javascript:sendStime((_dom == 3) ? document.layers['disp'].document.form1 : document.form1, gRsvWInstRsvSetEtimeAction, 1100, 30)"><img src="image/bw_watch.gif" border="0" alt="">11時00分</a></td>
            </tr>
            <tr>
              <td><a href="javascript:sendStime((_dom == 3) ? document.layers['disp'].document.form1 : document.form1, gRsvWInstRsvSetEtimeAction, 1200, 40)"><img src="image/bw_watch.gif" border="0" alt="">12時00分</a></td>
              <td><a href="javascript:sendStime((_dom == 3) ? document.layers['disp'].document.form1 : document.form1, gRsvWInstRsvSetEtimeAction, 1300, 50)"><img src="image/bw_watch.gif" border="0" alt="">13時00分</a></td>
              <td><a href="javascript:sendStime((_dom == 3) ? document.layers['disp'].document.form1 : document.form1, gRsvWInstRsvSetEtimeAction, 1400, 60)"><img src="image/bw_watch.gif" border="0" alt="">14時00分</a></td>
            </tr>
            <tr>
              <td><a href="javascript:sendStime((_dom == 3) ? document.layers['disp'].document.form1 : document.form1, gRsvWInstRsvSetEtimeAction, 1500, 70)"><img src="image/bw_watch.gif" border="0" alt="">15時00分</a></td>
              <td><a href="javascript:sendStime((_dom == 3) ? document.layers['disp'].document.form1 : document.form1, gRsvWInstRsvSetEtimeAction, 1600, 80)"><img src="image/bw_watch.gif" border="0" alt="">16時00分</a></td>
              <td><a href="javascript:sendStime((_dom == 3) ? document.layers['disp'].document.form1 : document.form1, gRsvWInstRsvSetEtimeAction, 1700, 90)"><img src="image/bw_watch.gif" border="0" alt="">17時00分</a></td>
            </tr>
            <tr>
              <td><a href="javascript:sendStime((_dom == 3) ? document.layers['disp'].document.form1 : document.form1, gRsvWInstRsvSetEtimeAction, 1800, 100)"><img src="image/bw_watch.gif" border="0" alt="">18時00分</a></td>
              <td><a href="javascript:sendStime((_dom == 3) ? document.layers['disp'].document.form1 : document.form1, gRsvWInstRsvSetEtimeAction, 1900, 110)"><img src="image/bw_watch.gif" border="0" alt="">19時00分</a></td>
              <td><a href="javascript:sendStime((_dom == 3) ? document.layers['disp'].document.form1 : document.form1, gRsvWInstRsvSetEtimeAction, 2000, 120)"><img src="image/bw_watch.gif" border="0" alt="">20時00分</a></td>
            </tr>
          </tbody>
        </table><input type="hidden" name="displayNo" value="prwcb2000"><input type="hidden" name="selectStime" value="0"><input type="hidden" name="selectStZoneNo" value="0"><input type="hidden" name="dispStime" value="0"><input type="hidden" name="dispStZoneNo" value="0"></form>
    </center>
    <script type="text/javascript">
      endTagWrite(this.document);
    </script>
  </div><noscript>このページではJavaScriptを使用しています。</noscript></body>
</html>