<html lang="ja">
<head>
  <link rel="stylesheet" type="text/css" id="csschange" href="prs_color1.css">
  <link rel="stylesheet" type="text/css" href="prs_change.css">
  <link rel="stylesheet" type="text/css" href="prs_web_common.css">
  <script type="text/javascript" src="js/paw_doaction.js"></script>
  <script type="text/javascript" src="js/paw_common.js"></script>
  <script type="text/javascript" src="js/paw_errormsg.js"></script>
  <script type="text/javascript" src="js/prwcb1000.js"></script>
  <script type="text/javascript" src="js/ajax/jquery.js"></script>
  <script type="text/javascript" src="js/ajax/jquery.cookie.js"></script>
  <script type="text/javascript">
    var gRsvWInstSrchVacantTimeSelectionAction ='/sendai/eweb/rsvWInstSrchVacantTimeSelectionAction.do';var gRsvWInstSrchVacantAction ='/sendai/eweb/rsvWInstSrchVacantAction.do';var gRsvWUserAttestationPageMoveAction ='/sendai/eweb/rsvWUserAttestationPageMoveAction.do';var gRsvWInstSrchVacantBackAction ='/sendai/eweb/rsvWInstSrchVacantBackAction.do';var gRsvWTransUserAttestationEndAction ='/sendai/eweb/rsvWTransUserAttestationEndAction.do';var gRsvWTransGuideAction ='/sendai/eweb/rsvWTransGuideAction.do';var gRsvWInstRsvSetStimeAction ='/sendai/eweb/rsvWInstRsvSetStimeAction.do';var gRsvWInstTempRsvApplyAction ='/sendai/eweb/rsvC019WInstTempRsvApplyAction.do';var gRsvWInstSrchVacantStopApplyAction ='/sendai/eweb/rsvWInstSrchVacantStopApplyAction.do';var gSrchSelectInstNo= 5;var gSrchSelectInstMax= 6;var gRsvWEquipSrchVacantAction ='/sendai/eweb/rsvWEquipSrchVacantAction.do';var gRsvWTransUserLoginAction ='/sendai/eweb/rsvWTransUserLoginAction.do';
  </script>
  <!-- pawzz1000 -->
  <meta http-equiv="Content-Type" content="text/html;charset=Shift_JIS">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="expires" content="Sun, 10 Jan 1990 01:01:01 GMT">
  <meta http-equiv="Content-Script-Type" content="text/javascript">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <meta name="format-detection" content="telephone=no">
  <title>仙台市市民利用施設予約システム&nbsp;施設空き状況画面時間貸し</title>
</head>
<body class="nomargin" onload="javascript:msgHide();javascript:errorMsg('', 0);startInitTimer()">
  <script type="text/javascript">
    loadMsgWrite(this.document);
  </script>
  <div id="loadmsg" style="position: absolute; top: 0px; left: 0px; right: 0px; width: 100%; visibility: hidden;">
    <center><br><br><br><br><br><br><br><br><br><br><img src="image/bi_nowloading.gif" alt="loading"></center>
  </div>
  <div id="disp" style="visibility: inherit;">
    <center>
      <form name="form1" method="post" action="dummy" autocomplete="off">
        <table width="100%" class="head2" border="0">
          <tbody>
            <tr>
              <td align="left">
                <div class="dcontent"><strong>仙台市</strong>利用者東北大学バレーボールクラブ様<a href="#main"><img src="image/1px.gif" border="0" alt="本文へスキップ"></a><a href="#main2"><img src="image/1px.gif" border="0" alt="空き状況の表へスキップ"></a></div>
              </td>
              <td align="right">
                <script type="text/javascript" src="js/paw_fontsize.js"></script>
                <script type="text/javascript">
                  var gSmallSize = '90%';var gMiddleSize = '100%';var gLargeSize = '110%';
                </script>
                <div style="width:177px;">
                  <ul id="fontChange" style="margin:0 0 0 0;padding:0">
                    <li id="li-label1"><img src="image/lw_fontchange1.gif" id="label1" alt="文字サイズ変更"></li>
                    <li id="small"><a href="javascript:void(0);" title="文字を小サイズに変更" style="margin:0 0 0 0;padding:0" class="afont">小</a></li>
                    <li id="middle"><a href="javascript:void(0);" title="文字を中サイズに変更" style="margin:0 0 0 0;padding:0" class="afont">中</a></li>
                    <li id="large"><a href="javascript:void(0);" title="文字を大サイズに変更" style="margin:0 0 0 0;padding:0" class="afont">大</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <td align="right" colspan="2">
                <table border="0">
                  <tbody>
                    <tr>
                      <td><a href="javascript:doAction((_dom == 3) ? document.layers['disp'].document.form1 : document.form1, gRsvWUserAttestationPageMoveAction);"><img src="image/bw_menu.gif" alt="メニューへ" border="0"></a></td>
                      <td><a href="javascript:doAction((_dom == 3) ? document.layers['disp'].document.form1 : document.form1, gRsvWInstSrchVacantBackAction);"><img src="image/bw_return.gif" alt="もどる" border="0"></a></td>
                      <td><a href="javascript:doAction((_dom == 3) ? document.layers['disp'].document.form1 : document.form1, gRsvWTransUserAttestationEndAction);"><img src="image/bw_end.gif" alt="終了" border="0"></a></td>
                      <td><a href="javascript:doAction((_dom == 3) ? document.layers['disp'].document.form1 : document.form1, gRsvWTransGuideAction);"><img src="image/bw_guide.gif" alt="案内" border="0"></a></td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td align="left" colspan="2">
                <table border="0" class="head">
                  <tbody>
                    <tr>
                      <td><img src="image/1px.gif" border="0" alt="ここからパンくずリスト">地域</td>
                      <td>＞</td>
                      <td>館</td>
                      <td>＞</td>
                      <td>施設</td>
                      <td>＞</td>
                      <td>一ヶ月検索結果</td>
                      <td>＞</td>
                      <td><img src="image/1px.gif" border="0" alt="現在位置"><strong>一週間検索結果</strong></td>
                      <td>＞</td>
                      <td>内容確認</td>
                      <td>＞</td>
                      <td>予約完了<img src="image/1px.gif" border="0" alt="パンくずリストここまで"></td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <p align="left" class="pcontent"><a name="main"><img src="image/1px.gif" border="0" alt="ここから本文です"></a><br>予約の申込みができます。<br>予約を申込むには、空き<img src="image/lw_emptybs.gif" align="middle" alt="">をクリックして、選択中<img src="image/lw_starsempty.gif" align="middle" alt="">にしたあと、「申込み」ボタンを押します。</p>
        <table border="0">
          <tbody>
            <tr>
              <td>&nbsp;</td>
              <td nowrap="" align="left">&nbsp;</td>
              <td nowrap="" align="right">
                <table cellspacing="5" cellpadding="0" align="center" border="0" class="tcontent">
                  <tbody>
                    <tr>
                      <td>福室市民センター<br>和室（２）</td>
                      <td><a href="javascript:doInstSrchVacantAction((_dom == 3) ? document.layers['disp'].document.form1 : document.form1, gRsvWInstSrchVacantAction, 5, gSrchSelectInstNo, gSrchSelectInstMax);"><img src="image/bw_previnstitutionl.gif" alt="前の施設" border="0"></a></td>
                      <td><img src="image/bw_nextinvalidinstitutionl.gif" alt=""></td>
                      <td>&nbsp;</td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td valign="bottom">&nbsp;</td>
            </tr>
            <tr>
              <td valign="top" nowrap="" align="left"><a name="main2"><img src="image/1px.gif" border="0" alt="ここから空き状況の表です"></a></td>
              <td valign="top" colspan="3" align="left">
                <table border="0">
                  <tbody>
                    <tr>
                      <td valign="top">
                        <table class="akitablelist">
                          <caption><a href="http://www.hm-sendai.jp/siminc/sisetu/miyagino10.html" target="new_window">福室市民センター</a>調理実習室&nbsp;空き状況</caption>
                          <tbody>
                            <tr>
                              <th class="akitablelist">6月1日<br>木曜日</th>
                              <th class="akitablelist">6月2日<br>金曜日</th>
                              <th class="akitablelist">6月3日<br>土曜日</th>
                              <th class="akitablelist">6月4日<br>日曜日</th>
                              <th class="akitablelist">6月5日<br>月曜日</th>
                              <th class="akitablelist">6月6日<br>火曜日</th>
                              <th class="akitablelist">6月7日<br>水曜日</th>
                            </tr>
                            <tr>
                              <td align="center" class="akitablelist"><a href="javaScript:doWInstRsvSetStimeAction((_dom == 3) ? document.layers['disp'].document.form1 : document.form1, gRsvWInstRsvSetStimeAction, '42306100', 20230601, 0, 900, 10, 1900, 100);"><img src="image/lw_emptybs.gif" name="0_0" border="0" alt="予約可"><br>09時00分～<br>19時00分<br></a>
                                <hr><a href="javaScript:doWInstSrchVacantTimeSelectionAction((_dom == 3) ? document.layers['disp'].document.form1 : document.form1, gRsvWInstSrchVacantTimeSelectionAction, '42306100', 20230601, 0, 1900, 110, 2000, 110);"><img src="image/lw_starsempty.gif" name="0_0" border="0" alt="選択中"><br>19時00分～<br>20時00分<br></a>
                                <hr><a href="javaScript:doWInstRsvSetStimeAction((_dom == 3) ? document.layers['disp'].document.form1 : document.form1, gRsvWInstRsvSetStimeAction, '42306100', 20230601, 0, 2000, 120, 2100, 120);"><img src="image/lw_emptybs.gif" name="0_0" border="0" alt="予約可"><br>20時00分～<br>21時00分<br></a></td>
                              <td align="center" class="akitablelist"><a href="javaScript:doWInstRsvSetStimeAction((_dom == 3) ? document.layers['disp'].document.form1 : document.form1, gRsvWInstRsvSetStimeAction, '42306100', 20230602, 0, 900, 10, 2100, 120);"><img src="image/lw_emptybs.gif" name="0_1" border="0" alt="予約可"><br>09時00分～<br>21時00分<br></a></td>
                              <td align="center" class="akitablelist"><a href="javaScript:doWInstRsvSetStimeAction((_dom == 3) ? document.layers['disp'].document.form1 : document.form1, gRsvWInstRsvSetStimeAction, '42306100', 20230603, 0, 900, 10, 2100, 120);"><img src="image/lw_emptybs.gif" name="0_2" border="0" alt="予約可"><br>09時00分～<br>21時00分<br></a></td>
                              <td align="center" class="akitablelist"><a href="javaScript:doWInstRsvSetStimeAction((_dom == 3) ? document.layers['disp'].document.form1 : document.form1, gRsvWInstRsvSetStimeAction, '42306100', 20230604, 0, 900, 10, 2100, 120);"><img src="image/lw_emptybs.gif" name="0_3" border="0" alt="予約可"><br>09時00分～<br>21時00分<br></a></td>
                              <td align="center" class="akitablelist"><img src="image/lw_aki2.gif" name="0_4" border="0" alt="休館日"><br>09時00分～<br>21時00分<br></td>
                              <td align="center" class="akitablelist"><a href="javaScript:doWInstRsvSetStimeAction((_dom == 3) ? document.layers['disp'].document.form1 : document.form1, gRsvWInstRsvSetStimeAction, '42306100', 20230606, 0, 900, 10, 2100, 120);"><img src="image/lw_emptybs.gif" name="0_5" border="0" alt="予約可"><br>09時00分～<br>21時00分<br></a></td>
                              <td align="center" class="akitablelist"><a href="javaScript:doWInstRsvSetStimeAction((_dom == 3) ? document.layers['disp'].document.form1 : document.form1, gRsvWInstRsvSetStimeAction, '42306100', 20230607, 0, 900, 10, 2100, 120);"><img src="image/lw_emptybs.gif" name="0_6" border="0" alt="予約可"><br>09時00分～<br>21時00分<br></a></td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                      <td valign="top"><br><br>
                        <table border="0" cellspacing="0" cellpadding="0" class="tcontent">
                          <tbody>
                            <tr>
                              <td><img src="image/lw_emptybs.gif" align="middle" alt="予約可のマーク"></td>
                              <td>予約可</td>
                            </tr>
                            <tr>
                              <td><img src="image/lw_kikangais.gif" align="middle" alt="予約不可のマーク"></td>
                              <td>予約不可</td>
                            </tr>
                            <tr>
                              <td><img src="image/lw_starsempty.gif" align="middle" alt="選択中のマーク"></td>
                              <td>選択中</td>
                            </tr>
                            <tr>
                              <td><img src="image/lw_aki2.gif" align="middle" alt="休館日のマーク"></td>
                              <td>休館日</td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td colspan="2">
                <table border="0">
                  <tbody>
                    <tr>
                      <td><a href="javascript:doInstSrchVacantAction((_dom == 3) ? document.layers['disp'].document.form1 : document.form1, gRsvWInstSrchVacantAction, 1, gSrchSelectInstNo, gSrchSelectInstMax);"><img src="image/bw_beforemonth2.gif" alt="前の月" align="middle" border="0"></a></td>
                      <td><a href="javascript:doInstSrchVacantAction((_dom == 3) ? document.layers['disp'].document.form1 : document.form1, gRsvWInstSrchVacantAction, 3, gSrchSelectInstNo, gSrchSelectInstMax);"><img src="image/bw_prevweeks.gif" alt="前の週" align="middle" border="0"></a></td>
                      <td><a href="javascript:doInstSrchVacantAction((_dom == 3) ? document.layers['disp'].document.form1 : document.form1, gRsvWInstSrchVacantAction, 4, gSrchSelectInstNo, gSrchSelectInstMax);"><img src="image/bw_nextweeks.gif" alt="次の週" align="middle" border="0"></a></td>
                      <td><a href="javascript:doInstSrchVacantAction((_dom == 3) ? document.layers['disp'].document.form1 : document.form1, gRsvWInstSrchVacantAction, 2, gSrchSelectInstNo, gSrchSelectInstMax);"><img src="image/bw_nextmonth1.gif" alt="次の月" align="middle" border="0"></a></td>
                    </tr>
                  </tbody>
                </table>
                <hr>
              </td>
              <td>&nbsp;</td>
            </tr>
          </tbody>
        </table>
        <table border="0">
          <tbody>
            <tr>
              <td><a href="javascript:checkSelect((_dom == 3) ? document.layers['disp'].document.form1 : document.form1, gRsvWInstTempRsvApplyAction);"><img src="image/bw_applicationreceipt.gif" alt="申込み" border="0"></a></td>
              <td><a href="javascript:setTimeout(function(){reset((_dom == 3) ? document.layers['disp'].document.form1 : document.form1, gRsvWInstSrchVacantStopApplyAction)},10);"><img src="image/bw_applicationstop.gif" alt="申込み中止" border="0"></a></td>
            </tr>
          </tbody>
        </table><input type="hidden" name="displayNo" value="prwcb1000"><input type="hidden" name="wselectInstCd" value="42306100"><input type="hidden" name="wselectUseYMD" value="0"><input type="hidden" name="wselectStZoneNo" value="0"><input type="hidden" name="dispStime" value="0"><input type="hidden" name="dispStZoneNo" value="0"><input type="hidden" name="dispEtime" value="0"><input type="hidden" name="dispEtZoneNo" value="0"><input type="hidden" name="transVacantMode" value="7"><input type="hidden" name="srchSelectInstNo" value="5"><input type="hidden" name="selectStime" value="0"><input type="hidden" name="selectStZoneNo" value="0"><input type="hidden" name="selectEtime" value="0"><input type="hidden" name="selectEtZoneNo" value="0"><input type="hidden" name="selectSize" value="1"><input type="hidden" name="e410300" value="施設を選択して下さい。"><input type="hidden" name="e512060" value="選択情報をリセットしてもよろしいですか？"><input type="hidden" name="checkInstCd" value="42306100"></form>
    </center>
    <script type="text/javascript">
      endTagWrite(this.document);
    </script>
  </div><noscript>このページではJavaScriptを使用しています。</noscript></body>
</html>